<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
>
  <source>
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="posthog-php">
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>
